{
  "openapi": "3.0.1",
  "info": {
    "title": "api",
    "version": ""
  },
  "paths": {
    "/v0/inboxes": {
      "get": {
        "operationId": "inboxes_list",
        "tags": [
          "Inboxes"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Limit",
              "nullable": true
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageToken",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inboxesListInboxesResponse"
                }
              }
            }
          }
        },
        "summary": "List Inboxes",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "inboxes_create",
        "tags": [
          "Inboxes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inboxesInbox"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Create Inbox",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inboxesCreateInboxRequest",
                "nullable": true
              }
            }
          }
        }
      }
    },
    "/v0/inboxes/{inbox_id}": {
      "get": {
        "operationId": "inboxes_get",
        "tags": [
          "Inboxes"
        ],
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/inboxesInboxId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inboxesInbox"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get Inbox",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "patch": {
        "operationId": "inboxes_update",
        "tags": [
          "Inboxes"
        ],
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/inboxesInboxId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inboxesInbox"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Update Inbox",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inboxesUpdateInboxRequest"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "inboxes_delete",
        "tags": [
          "Inboxes"
        ],
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/inboxesInboxId"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Delete Inbox",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/pods": {
      "get": {
        "operationId": "pods_list",
        "tags": [
          "Pods"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Limit",
              "nullable": true
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageToken",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/podsListPodsResponse"
                }
              }
            }
          }
        },
        "summary": "List Pods",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "pods_create",
        "tags": [
          "Pods"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/podsPod"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Create Pod",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/podsCreatePodRequest"
              }
            }
          }
        }
      }
    },
    "/v0/pods/{pod_id}": {
      "get": {
        "operationId": "pods_get",
        "tags": [
          "Pods"
        ],
        "parameters": [
          {
            "name": "pod_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/podsPodId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/podsPod"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get Pod",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "pods_delete",
        "tags": [
          "Pods"
        ],
        "parameters": [
          {
            "name": "pod_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/podsPodId"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Delete Pod",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/webhooks": {
      "get": {
        "operationId": "webhooks_list",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Limit",
              "nullable": true
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageToken",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/webhooksListWebhooksResponse"
                }
              }
            }
          }
        },
        "summary": "List Webhooks",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "webhooks_create",
        "tags": [
          "Webhooks"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/webhooksWebhook"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Create Webhook",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/webhooksCreateWebhookRequest"
              }
            }
          }
        }
      }
    },
    "/v0/webhooks/{webhook_id}": {
      "get": {
        "operationId": "webhooks_get",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/webhooksWebhookId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/webhooksWebhook"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get Webhook",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "webhooks_delete",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/webhooksWebhookId"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Delete Webhook",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/api-keys": {
      "get": {
        "operationId": "apiKeys_list",
        "tags": [
          "ApiKeys"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Limit",
              "nullable": true
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageToken",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListApiKeysResponse"
                }
              }
            }
          }
        },
        "summary": "List API Keys",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "apiKeys_create",
        "tags": [
          "ApiKeys"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApiKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Create API Key",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          }
        }
      }
    },
    "/v0/api-keys/{api_key}": {
      "delete": {
        "operationId": "apiKeys_delete",
        "tags": [
          "ApiKeys"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ApiKeyId"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Delete API Key",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/domains": {
      "get": {
        "operationId": "domains_list",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Limit",
              "nullable": true
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageToken",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDomainsResponse"
                }
              }
            }
          }
        },
        "summary": "List Domains",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "domains_create",
        "tags": [
          "Domains"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Create Domain",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainRequest"
              }
            }
          }
        }
      }
    },
    "/v0/domains/{domain_id}": {
      "get": {
        "operationId": "domains_get",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DomainId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get Domain",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "domains_delete",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DomainId"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Delete Domain",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/domains/{domain_id}/zone-file": {
      "get": {
        "operationId": "domains_getZoneFile",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DomainId"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get Zone File",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/domains/{domain_id}/verify": {
      "post": {
        "operationId": "domains_verify",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DomainId"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Verify Domain",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/drafts": {
      "get": {
        "operationId": "drafts_list",
        "tags": [
          "Drafts"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Limit",
              "nullable": true
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageToken",
              "nullable": true
            }
          },
          {
            "name": "labels",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Labels",
              "nullable": true
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Before",
              "nullable": true
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/After",
              "nullable": true
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Ascending",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDraftsResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List Drafts",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/drafts/{draft_id}": {
      "get": {
        "operationId": "drafts_get",
        "tags": [
          "Drafts"
        ],
        "parameters": [
          {
            "name": "draft_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DraftId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Draft"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get Draft",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/inboxes/{inbox_id}/drafts": {
      "get": {
        "operationId": "inboxes_drafts_list",
        "tags": [
          "InboxesDrafts"
        ],
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/inboxesInboxId"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Limit",
              "nullable": true
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageToken",
              "nullable": true
            }
          },
          {
            "name": "labels",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Labels",
              "nullable": true
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Before",
              "nullable": true
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/After",
              "nullable": true
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Ascending",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDraftsResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List Drafts",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "inboxes_drafts_create",
        "tags": [
          "InboxesDrafts"
        ],
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/inboxesInboxId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Draft"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Create Draft",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDraftRequest"
              }
            }
          }
        }
      }
    },
    "/v0/inboxes/{inbox_id}/drafts/{draft_id}": {
      "get": {
        "operationId": "inboxes_drafts_get",
        "tags": [
          "InboxesDrafts"
        ],
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/inboxesInboxId"
            }
          },
          {
            "name": "draft_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DraftId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Draft"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get Draft",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "patch": {
        "operationId": "inboxes_drafts_update",
        "tags": [
          "InboxesDrafts"
        ],
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/inboxesInboxId"
            }
          },
          {
            "name": "draft_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DraftId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Draft"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Update Draft",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDraftRequest"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "inboxes_drafts_delete",
        "tags": [
          "InboxesDrafts"
        ],
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/inboxesInboxId"
            }
          },
          {
            "name": "draft_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DraftId"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Delete Draft",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/inboxes/{inbox_id}/drafts/{draft_id}/send": {
      "post": {
        "operationId": "inboxes_drafts_send",
        "tags": [
          "InboxesDrafts"
        ],
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/inboxesInboxId"
            }
          },
          {
            "name": "draft_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DraftId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Send Draft",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMessageRequest"
              }
            }
          }
        }
      }
    },
    "/v0/inboxes/{inbox_id}/messages": {
      "get": {
        "operationId": "inboxes_messages_list",
        "tags": [
          "InboxesMessages"
        ],
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/inboxesInboxId"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Limit",
              "nullable": true
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageToken",
              "nullable": true
            }
          },
          {
            "name": "labels",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Labels",
              "nullable": true
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Before",
              "nullable": true
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/After",
              "nullable": true
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Ascending",
              "nullable": true
            }
          },
          {
            "name": "include_spam",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/IncludeSpam",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMessagesResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List Messages",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/inboxes/{inbox_id}/messages/{message_id}": {
      "get": {
        "operationId": "inboxes_messages_get",
        "tags": [
          "InboxesMessages"
        ],
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/inboxesInboxId"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MessageId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get Message",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "patch": {
        "operationId": "inboxes_messages_update",
        "tags": [
          "InboxesMessages"
        ],
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/inboxesInboxId"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MessageId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Update Message",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMessageRequest"
              }
            }
          }
        }
      }
    },
    "/v0/inboxes/{inbox_id}/messages/{message_id}/attachments/{attachment_id}": {
      "get": {
        "operationId": "inboxes_messages_getAttachment",
        "tags": [
          "InboxesMessages"
        ],
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/inboxesInboxId"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MessageId"
            }
          },
          {
            "name": "attachment_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AttachmentId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get Attachment",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/inboxes/{inbox_id}/messages/{message_id}/raw": {
      "get": {
        "operationId": "inboxes_messages_getRaw",
        "tags": [
          "InboxesMessages"
        ],
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/inboxesInboxId"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MessageId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RawMessageResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get Raw Message",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/inboxes/{inbox_id}/messages/send": {
      "post": {
        "operationId": "inboxes_messages_send",
        "tags": [
          "InboxesMessages"
        ],
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/inboxesInboxId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Send Message",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          }
        }
      }
    },
    "/v0/inboxes/{inbox_id}/messages/{message_id}/reply": {
      "post": {
        "operationId": "inboxes_messages_reply",
        "tags": [
          "InboxesMessages"
        ],
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/inboxesInboxId"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MessageId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Reply To Message",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplyToMessageRequest"
              }
            }
          }
        }
      }
    },
    "/v0/inboxes/{inbox_id}/messages/{message_id}/reply-all": {
      "post": {
        "operationId": "inboxes_messages_reply-all",
        "tags": [
          "InboxesMessages"
        ],
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/inboxesInboxId"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MessageId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Reply All Message",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplyAllMessageRequest"
              }
            }
          }
        }
      }
    },
    "/v0/inboxes/{inbox_id}/messages/{message_id}/forward": {
      "post": {
        "operationId": "inboxes_messages_forward",
        "tags": [
          "InboxesMessages"
        ],
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/inboxesInboxId"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MessageId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Forward Message",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          }
        }
      }
    },
    "/v0/inboxes/{inbox_id}/metrics": {
      "get": {
        "operationId": "inboxes_metrics_get",
        "tags": [
          "InboxesMetrics"
        ],
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/inboxesInboxId"
            }
          },
          {
            "name": "event_types",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/MetricEventTypes",
              "nullable": true
            }
          },
          {
            "name": "start_timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MetricStartTimestamp"
            }
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MetricEndTimestamp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMetricsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List Metrics",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/inboxes/{inbox_id}/threads": {
      "get": {
        "operationId": "inboxes_threads_list",
        "tags": [
          "InboxesThreads"
        ],
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/inboxesInboxId"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Limit",
              "nullable": true
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageToken",
              "nullable": true
            }
          },
          {
            "name": "labels",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Labels",
              "nullable": true
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Before",
              "nullable": true
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/After",
              "nullable": true
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Ascending",
              "nullable": true
            }
          },
          {
            "name": "include_spam",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/IncludeSpam",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListThreadsResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List Threads",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/inboxes/{inbox_id}/threads/{thread_id}": {
      "get": {
        "operationId": "inboxes_threads_get",
        "tags": [
          "InboxesThreads"
        ],
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/inboxesInboxId"
            }
          },
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ThreadId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thread"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get Thread",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "inboxes_threads_delete",
        "tags": [
          "InboxesThreads"
        ],
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/inboxesInboxId"
            }
          },
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ThreadId"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Delete Thread",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/inboxes/{inbox_id}/threads/{thread_id}/attachments/{attachment_id}": {
      "get": {
        "operationId": "inboxes_threads_getAttachment",
        "tags": [
          "InboxesThreads"
        ],
        "parameters": [
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/inboxesInboxId"
            }
          },
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ThreadId"
            }
          },
          {
            "name": "attachment_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AttachmentId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get Attachment",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/metrics": {
      "get": {
        "operationId": "metrics_list",
        "tags": [
          "Metrics"
        ],
        "parameters": [
          {
            "name": "event_types",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/MetricEventTypes",
              "nullable": true
            }
          },
          {
            "name": "start_timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MetricStartTimestamp"
            }
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MetricEndTimestamp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMetricsResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List Metrics",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/organizations": {
      "get": {
        "description": "Get the current organization.",
        "operationId": "organizations_get",
        "tags": [
          "Organizations"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          }
        },
        "summary": "Get Organization",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/pods/{pod_id}/domains": {
      "get": {
        "operationId": "pods_domains_list",
        "tags": [
          "PodsDomains"
        ],
        "parameters": [
          {
            "name": "pod_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/podsPodId"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Limit",
              "nullable": true
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageToken",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDomainsResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List Domains",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "pods_domains_create",
        "tags": [
          "PodsDomains"
        ],
        "parameters": [
          {
            "name": "pod_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/podsPodId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Create Domain",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainRequest"
              }
            }
          }
        }
      }
    },
    "/v0/pods/{pod_id}/domains/{domain_id}": {
      "delete": {
        "operationId": "pods_domains_delete",
        "tags": [
          "PodsDomains"
        ],
        "parameters": [
          {
            "name": "pod_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/podsPodId"
            }
          },
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DomainId"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Delete Domain",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/pods/{pod_id}/drafts": {
      "get": {
        "operationId": "pods_drafts_list",
        "tags": [
          "PodsDrafts"
        ],
        "parameters": [
          {
            "name": "pod_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/podsPodId"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Limit",
              "nullable": true
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageToken",
              "nullable": true
            }
          },
          {
            "name": "labels",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Labels",
              "nullable": true
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Before",
              "nullable": true
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/After",
              "nullable": true
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Ascending",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDraftsResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List Drafts",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/pods/{pod_id}/drafts/{draft_id}": {
      "get": {
        "operationId": "pods_drafts_get",
        "tags": [
          "PodsDrafts"
        ],
        "parameters": [
          {
            "name": "pod_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/podsPodId"
            }
          },
          {
            "name": "draft_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DraftId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Draft"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get Draft",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/pods/{pod_id}/inboxes": {
      "get": {
        "operationId": "pods_inboxes_list",
        "tags": [
          "PodsInboxes"
        ],
        "parameters": [
          {
            "name": "pod_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/podsPodId"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Limit",
              "nullable": true
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageToken",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inboxesListInboxesResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List Inboxes",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "pods_inboxes_create",
        "tags": [
          "PodsInboxes"
        ],
        "parameters": [
          {
            "name": "pod_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/podsPodId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inboxesInbox"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Create Inbox",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inboxesCreateInboxRequest"
              }
            }
          }
        }
      }
    },
    "/v0/pods/{pod_id}/inboxes/{inbox_id}": {
      "get": {
        "operationId": "pods_inboxes_get",
        "tags": [
          "PodsInboxes"
        ],
        "parameters": [
          {
            "name": "pod_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/podsPodId"
            }
          },
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/inboxesInboxId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inboxesInbox"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get Inbox",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "pods_inboxes_delete",
        "tags": [
          "PodsInboxes"
        ],
        "parameters": [
          {
            "name": "pod_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/podsPodId"
            }
          },
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/inboxesInboxId"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Delete Inbox",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/pods/{pod_id}/threads": {
      "get": {
        "operationId": "pods_threads_list",
        "tags": [
          "PodsThreads"
        ],
        "parameters": [
          {
            "name": "pod_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/podsPodId"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Limit",
              "nullable": true
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageToken",
              "nullable": true
            }
          },
          {
            "name": "labels",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Labels",
              "nullable": true
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Before",
              "nullable": true
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/After",
              "nullable": true
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Ascending",
              "nullable": true
            }
          },
          {
            "name": "include_spam",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/IncludeSpam",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListThreadsResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List Threads",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/pods/{pod_id}/threads/{thread_id}": {
      "get": {
        "operationId": "pods_threads_get",
        "tags": [
          "PodsThreads"
        ],
        "parameters": [
          {
            "name": "pod_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/podsPodId"
            }
          },
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ThreadId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thread"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get Thread",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/pods/{pod_id}/threads/{thread_id}/attachments/{attachment_id}": {
      "get": {
        "operationId": "pods_threads_getAttachment",
        "tags": [
          "PodsThreads"
        ],
        "parameters": [
          {
            "name": "pod_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/podsPodId"
            }
          },
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ThreadId"
            }
          },
          {
            "name": "attachment_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AttachmentId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get Attachment",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/threads": {
      "get": {
        "operationId": "threads_list",
        "tags": [
          "Threads"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Limit",
              "nullable": true
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PageToken",
              "nullable": true
            }
          },
          {
            "name": "labels",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Labels",
              "nullable": true
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Before",
              "nullable": true
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/After",
              "nullable": true
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Ascending",
              "nullable": true
            }
          },
          {
            "name": "include_spam",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/IncludeSpam",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListThreadsResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List Threads",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/threads/{thread_id}": {
      "get": {
        "operationId": "threads_get",
        "tags": [
          "Threads"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ThreadId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thread"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get Thread",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v0/threads/{thread_id}/attachments/{attachment_id}": {
      "get": {
        "operationId": "threads_getAttachment",
        "tags": [
          "Threads"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ThreadId"
            }
          },
          {
            "name": "attachment_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AttachmentId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get Attachment",
        "servers": [
          {
            "url": "https://api.agentmail.to"
          },
          {
            "url": "https://api.agentmail.dev"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Limit": {
        "title": "Limit",
        "type": "integer",
        "description": "Limit of number of items returned."
      },
      "Count": {
        "title": "Count",
        "type": "integer",
        "description": "Number of items returned."
      },
      "PageToken": {
        "title": "PageToken",
        "type": "string",
        "description": "Page token for pagination."
      },
      "Labels": {
        "title": "Labels",
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "Labels to filter by."
      },
      "Before": {
        "title": "Before",
        "type": "string",
        "format": "date-time",
        "description": "Timestamp before which to filter by."
      },
      "After": {
        "title": "After",
        "type": "string",
        "format": "date-time",
        "description": "Timestamp after which to filter by."
      },
      "Ascending": {
        "title": "Ascending",
        "type": "boolean",
        "description": "Sort in ascending temporal order."
      },
      "IncludeSpam": {
        "title": "IncludeSpam",
        "type": "boolean",
        "description": "Include spam in results."
      },
      "OrganizationId": {
        "title": "OrganizationId",
        "type": "string",
        "description": "ID of organization."
      },
      "ErrorName": {
        "title": "ErrorName",
        "type": "string",
        "description": "Name of error."
      },
      "ErrorResponse": {
        "title": "ErrorResponse",
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/ErrorName"
          },
          "message": {
            "type": "string",
            "description": "Error message."
          }
        },
        "required": [
          "name",
          "message"
        ]
      },
      "ValidationErrorResponse": {
        "title": "ValidationErrorResponse",
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/ErrorName"
          },
          "errors": {
            "description": "Validation errors."
          }
        },
[...]
