openapi: 3.0.1
info:
  title: api
  version: ''
paths:
  /v0/inboxes:
    get:
      description: |-
        **CLI:**
        ```bash
        agentmail inboxes list
        ```
      operationId: inboxes_list
      tags:
        - Inboxes
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Limit'
            nullable: true
        - name: page_token
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/PageToken'
            nullable: true
        - name: ascending
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Ascending'
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inboxesListInboxesResponse'
      summary: List Inboxes
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
    post:
      description: >-
        **CLI:**

        ```bash

        agentmail inboxes create --display-name "My Agent" --username myagent
        --domain agentmail.to

        ```
      operationId: inboxes_create
      tags:
        - Inboxes
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inboxesInbox'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
      summary: Create Inbox
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inboxesCreateInboxRequest'
              nullable: true
  /v0/inboxes/{inbox_id}:
    get:
      description: |-
        **CLI:**
        ```bash
        agentmail inboxes get --inbox-id <inbox_id>
        ```
      operationId: inboxes_get
      tags:
        - Inboxes
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inboxesInbox'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Inbox
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
    patch:
      description: >-
        **CLI:**

        ```bash

        agentmail inboxes update --inbox-id <inbox_id> --display-name "Updated
        Name"

        ```
      operationId: inboxes_update
      tags:
        - Inboxes
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inboxesInbox'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Inbox
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
      requestBody:
        description: >-
          Expects an object; provide at least one of `display_name` or
          `metadata`.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inboxesUpdateInboxRequest'
    delete:
      description: |-
        **CLI:**
        ```bash
        agentmail inboxes delete --inbox-id <inbox_id>
        ```
      operationId: inboxes_delete
      tags:
        - Inboxes
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
      responses:
        '204':
          description: ''
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Inbox
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/pods:
    get:
      description: |-
        **CLI:**
        ```bash
        agentmail pods list
        ```
      operationId: pods_list
      tags:
        - Pods
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Limit'
            nullable: true
        - name: page_token
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/PageToken'
            nullable: true
        - name: ascending
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Ascending'
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/podsListPodsResponse'
      summary: List Pods
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
    post:
      description: |-
        **CLI:**
        ```bash
        agentmail pods create --client-id my-pod
        ```
      operationId: pods_create
      tags:
        - Pods
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/podsPod'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
      summary: Create Pod
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/podsCreatePodRequest'
  /v0/pods/{pod_id}:
    get:
      description: |-
        **CLI:**
        ```bash
        agentmail pods get --pod-id <pod_id>
        ```
      operationId: pods_get
      tags:
        - Pods
      parameters:
        - name: pod_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/podsPodId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/podsPod'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Pod
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
    delete:
      description: |-
        **CLI:**
        ```bash
        agentmail pods delete --pod-id <pod_id>
        ```
      operationId: pods_delete
      tags:
        - Pods
      parameters:
        - name: pod_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/podsPodId'
      responses:
        '204':
          description: ''
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Pod
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/webhooks:
    get:
      description: |-
        **CLI:**
        ```bash
        agentmail webhooks list
        ```
      operationId: webhooks_list
      tags:
        - Webhooks
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Limit'
            nullable: true
        - name: page_token
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/PageToken'
            nullable: true
        - name: ascending
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Ascending'
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhooksListWebhooksResponse'
      summary: List Webhooks
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
    post:
      description: >-
        **CLI:**

        ```bash

        agentmail webhooks create --url https://example.com/webhook --event-type
        message.received

        ```
      operationId: webhooks_create
      tags:
        - Webhooks
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhooksWebhook'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
      summary: Create Webhook
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webhooksCreateWebhookRequest'
  /v0/webhooks/{webhook_id}:
    get:
      description: |-
        **CLI:**
        ```bash
        agentmail webhooks get --webhook-id <webhook_id>
        ```
      operationId: webhooks_get
      tags:
        - Webhooks
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/webhooksWebhookId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhooksWebhook'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Webhook
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
    patch:
      description: >-
        Update inbox or pod subscriptions, or replace the webhook's
        `event_types` in full when you pass a

        non-empty `event_types` array (see request field docs). Inbox and pod
        changes use add/remove lists.


        **CLI:**

        ```bash

        agentmail webhooks update --webhook-id <webhook_id> --add-inbox-id
        <inbox_id>

        ```
      operationId: webhooks_update
      tags:
        - Webhooks
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/webhooksWebhookId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhooksWebhook'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Webhook
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webhooksUpdateWebhookRequest'
    delete:
      description: |-
        **CLI:**
        ```bash
        agentmail webhooks delete --webhook-id <webhook_id>
        ```
      operationId: webhooks_delete
      tags:
        - Webhooks
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/webhooksWebhookId'
      responses:
        '204':
          description: ''
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Webhook
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/agent/sign-up:
    post:
      description: >-
        Create a new agent organization with an inbox and API key. This endpoint
        is for signing up for the first time. If you've already signed up,
        you're all set — just use your existing API key.


        A 6-digit OTP is sent to the human's email for verification.


        This endpoint is idempotent. Calling it again with the same
        `human_email` will rotate the API key and resend the OTP if expired.


        The returned API key has limited permissions until the organization is
        verified via the verify endpoint.


        **CLI:**

        ```bash

        agentmail agent sign-up --human-email user@example.com --username
        my-agent

        ```
      operationId: agent_signUp
      tags:
        - Agent
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSignupResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
      summary: Sign Up
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentSignupRequest'
  /v0/agent/verify:
    post:
      description: >-
        Verify an agent organization using the 6-digit OTP sent to the human's
        email during sign-up.


        On success, the organization is upgraded from `agent_unverified` to
        `agent_verified`, the send allowlist is removed, and free plan
        entitlements are applied.


        The OTP expires after 24 hours and allows a maximum of 10 attempts. If
        you run into any difficulties receiving the OTP code, you can also
        create an account on
        [console.agentmail.to](https://console.agentmail.to) using the human
        email address you provided to verify your account.


        **CLI:**

        ```bash

        agentmail agent verify --otp-code 123456

        ```
      operationId: agent_verify
      tags:
        - Agent
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentVerifyResponse'
      summary: Verify
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentVerifyRequest'
  /v0/api-keys:
    get:
      description: |-
        **CLI:**
        ```bash
        agentmail api-keys list
        ```
      operationId: apiKeys_list
      tags:
        - ApiKeys
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Limit'
            nullable: true
        - name: page_token
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/PageToken'
            nullable: true
        - name: ascending
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Ascending'
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApiKeysResponse'
      summary: List API Keys
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
    post:
      description: |-
        **CLI:**
        ```bash
        agentmail api-keys create --name "My Key"
        ```
      operationId: apiKeys_create
      tags:
        - ApiKeys
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApiKeyResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
      summary: Create API Key
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
  /v0/api-keys/{api_key_id}:
    delete:
      description: |-
        **CLI:**
        ```bash
        agentmail api-keys delete --api-key-id <api_key_id>
        ```
      operationId: apiKeys_delete
      tags:
        - ApiKeys
      parameters:
        - name: api_key_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ApiKeyId'
      responses:
        '204':
          description: ''
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete API Key
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/auth/me:
    get:
      description: >-
        Returns the identity and scope of the authenticated credential. Useful
        when a client holds a pod-scoped or inbox-scoped API key and needs to
        discover the parent organization, pod, or inbox without prior knowledge.


        **CLI:**

        ```bash

        agentmail auth me

        ```
      operationId: auth_me
      tags:
        - Auth
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identity'
      summary: Who Am I
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/domains:
    get:
      description: |-
        **CLI:**
        ```bash
        agentmail domains list
        ```
      operationId: domains_list
      tags:
        - Domains
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Limit'
            nullable: true
        - name: page_token
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/PageToken'
            nullable: true
        - name: ascending
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Ascending'
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDomainsResponse'
      summary: List Domains
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
    post:
      description: |-
        **CLI:**
        ```bash
        agentmail domains create --domain example.com
        ```
      operationId: domains_create
      tags:
        - Domains
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
      summary: Create Domain
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDomainRequest'
  /v0/domains/{domain_id}:
    get:
      description: |-
        **CLI:**
        ```bash
        agentmail domains get --domain-id <domain_id>
        ```
      operationId: domains_get
      tags:
        - Domains
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/DomainId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Domain
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
    patch:
      description: |-
        **CLI:**
        ```bash
        agentmail domains update --domain-id <domain_id>
        ```
      operationId: domains_update
      tags:
        - Domains
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/DomainId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Domain
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDomainRequest'
    delete:
      description: |-
        **CLI:**
        ```bash
        agentmail domains delete --domain-id <domain_id>
        ```
      operationId: domains_delete
      tags:
        - Domains
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/DomainId'
      responses:
        '204':
          description: ''
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Domain
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/domains/{domain_id}/zone-file:
    get:
      description: |-
        **CLI:**
        ```bash
        agentmail domains get-zone-file --domain-id <domain_id>
        ```
      operationId: domains_getZoneFile
      tags:
        - Domains
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/DomainId'
      responses:
        '204':
          description: ''
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Zone File
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/domains/{domain_id}/verify:
    post:
      description: |-
        **CLI:**
        ```bash
        agentmail domains verify --domain-id <domain_id>
        ```
      operationId: domains_verify
      tags:
        - Domains
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/DomainId'
      responses:
        '204':
          description: ''
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Verify Domain
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/drafts:
    get:
      description: |-
        **CLI:**
        ```bash
        agentmail drafts list
        ```
      operationId: drafts_list
      tags:
        - Drafts
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Limit'
            nullable: true
        - name: page_token
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/PageToken'
            nullable: true
        - name: labels
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Labels'
            nullable: true
        - name: before
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Before'
            nullable: true
        - name: after
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/After'
            nullable: true
        - name: ascending
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Ascending'
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDraftsResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Drafts
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/drafts/{draft_id}:
    get:
      description: |-
        **CLI:**
        ```bash
        agentmail drafts get --draft-id <draft_id>
        ```
      operationId: drafts_get
      tags:
        - Drafts
      parameters:
        - name: draft_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/DraftId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Draft'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Draft
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/drafts/{draft_id}/attachments/{attachment_id}:
    get:
      description: >-
        **CLI:**

        ```bash

        agentmail drafts get-attachment --draft-id <draft_id> --attachment-id
        <attachment_id>

        ```
      operationId: drafts_getAttachment
      tags:
        - Drafts
      parameters:
        - name: draft_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/DraftId'
        - name: attachment_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/AttachmentId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Attachment
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/inboxes/{inbox_id}/api-keys:
    get:
      description: |-
        **CLI:**
        ```bash
        agentmail inboxes:api-keys list --inbox-id <inbox_id>
        ```
      operationId: inboxes_apiKeys_list
      tags:
        - InboxesApiKeys
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Limit'
            nullable: true
        - name: page_token
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/PageToken'
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApiKeysResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List API Keys
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
    post:
      description: |-
        **CLI:**
        ```bash
        agentmail inboxes:api-keys create --inbox-id <inbox_id> --name "My Key"
        ```
      operationId: inboxes_apiKeys_create
      tags:
        - InboxesApiKeys
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApiKeyResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create API Key
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
  /v0/inboxes/{inbox_id}/api-keys/{api_key_id}:
    delete:
      description: >-
        **CLI:**

        ```bash

        agentmail inboxes:api-keys delete --inbox-id <inbox_id> --api-key-id
        <api_key_id>

        ```
      operationId: inboxes_apiKeys_delete
      tags:
        - InboxesApiKeys
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: api_key_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ApiKeyId'
      responses:
        '204':
          description: ''
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete API Key
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/inboxes/{inbox_id}/drafts:
    get:
      description: |-
        **CLI:**
        ```bash
        agentmail inboxes:drafts list --inbox-id <inbox_id>
        ```
      operationId: inboxes_drafts_list
      tags:
        - InboxesDrafts
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Limit'
            nullable: true
        - name: page_token
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/PageToken'
            nullable: true
        - name: labels
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Labels'
            nullable: true
        - name: before
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Before'
            nullable: true
        - name: after
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/After'
            nullable: true
        - name: ascending
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Ascending'
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDraftsResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Drafts
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
    post:
      description: >-
        **CLI:**

        ```bash

        agentmail inboxes:drafts create --inbox-id <inbox_id> --to
        recipient@example.com --subject "Draft subject" --text "Draft body"

        ```
      operationId: inboxes_drafts_create
      tags:
        - InboxesDrafts
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Draft'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create Draft
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDraftRequest'
  /v0/inboxes/{inbox_id}/drafts/{draft_id}:
    get:
      description: |-
        **CLI:**
        ```bash
        agentmail inboxes:drafts get --inbox-id <inbox_id> --draft-id <draft_id>
        ```
      operationId: inboxes_drafts_get
      tags:
        - InboxesDrafts
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: draft_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/DraftId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Draft'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Draft
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
    patch:
      description: >-
        **CLI:**

        ```bash

        agentmail inboxes:drafts update --inbox-id <inbox_id> --draft-id
        <draft_id> --subject "Updated subject"

        ```
      operationId: inboxes_drafts_update
      tags:
        - InboxesDrafts
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: draft_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/DraftId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Draft'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Draft
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDraftRequest'
    delete:
      description: >-
        **CLI:**

        ```bash

        agentmail inboxes:drafts delete --inbox-id <inbox_id> --draft-id
        <draft_id>

        ```
      operationId: inboxes_drafts_delete
      tags:
        - InboxesDrafts
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: draft_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/DraftId'
      responses:
        '204':
          description: ''
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Draft
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/inboxes/{inbox_id}/drafts/{draft_id}/attachments/{attachment_id}:
    get:
      description: >-
        **CLI:**

        ```bash

        agentmail inboxes:drafts get-attachment --inbox-id <inbox_id> --draft-id
        <draft_id> --attachment-id <attachment_id>

        ```
      operationId: inboxes_drafts_getAttachment
      tags:
        - InboxesDrafts
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: draft_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/DraftId'
        - name: attachment_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/AttachmentId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Attachment
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/inboxes/{inbox_id}/drafts/{draft_id}/send:
    post:
      description: >-
        **CLI:**

        ```bash

        agentmail inboxes:drafts send --inbox-id <inbox_id> --draft-id
        <draft_id>

        ```
      operationId: inboxes_drafts_send
      tags:
        - InboxesDrafts
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: draft_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/DraftId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Send Draft
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMessageRequest'
  /v0/inboxes/{inbox_id}/events:
    get:
      description: >-
        List label change events for an inbox. Returns events in reverse
        chronological order by default. Use for IMAP UID projection or audit
        logging.


        **CLI:**

        ```bash

        agentmail inboxes:events list --inbox-id <inbox_id>

        ```
      operationId: inboxes_events_list
      tags:
        - InboxesEvents
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Limit'
            nullable: true
        - name: page_token
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/PageToken'
            nullable: true
        - name: ascending
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Ascending'
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInboxEventsResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Inbox Events
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/inboxes/{inbox_id}/lists/{direction}/{type}:
    get:
      description: >-
        **CLI:**

        ```bash

        agentmail inboxes:lists list --inbox-id <inbox_id> --direction
        <direction> --type <type>

        ```
      operationId: inboxes_lists_list
      tags:
        - InboxesLists
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: direction
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Direction'
        - name: type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ListType'
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Limit'
            nullable: true
        - name: page_token
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/PageToken'
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PodListListEntriesResponse'
      summary: List Entries
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
    post:
      description: >-
        **CLI:**

        ```bash

        agentmail inboxes:lists create --inbox-id <inbox_id> --direction
        <direction> --type <type> --entry user@example.com

        ```
      operationId: inboxes_lists_create
      tags:
        - InboxesLists
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: direction
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Direction'
        - name: type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ListType'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PodListEntry'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
      summary: Create List Entry
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateListEntryRequest'
  /v0/inboxes/{inbox_id}/lists/{direction}/{type}/{entry}:
    get:
      description: >-
        **CLI:**

        ```bash

        agentmail inboxes:lists get --inbox-id <inbox_id> --direction
        <direction> --type <type> --entry <entry>

        ```
      operationId: inboxes_lists_get
      tags:
        - InboxesLists
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: direction
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Direction'
        - name: type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ListType'
        - name: entry
          in: path
          description: Email address or domain.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PodListEntry'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get List Entry
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
    delete:
      description: >-
        **CLI:**

        ```bash

        agentmail inboxes:lists delete --inbox-id <inbox_id> --direction
        <direction> --type <type> --entry <entry>

        ```
      operationId: inboxes_lists_delete
      tags:
        - InboxesLists
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: direction
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Direction'
        - name: type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ListType'
        - name: entry
          in: path
          description: Email address or domain.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete List Entry
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/inboxes/{inbox_id}/messages:
    get:
      description: |-
        Lists messages in the inbox, most recent first. Pass `from`, `to`, or
        `subject` to filter by substring. Filtered requests are served by
        search, which caps `limit` at 100. For relevance-ranked full-text
        search across sender, recipients, subject, and message body, use
        `Search Messages`.

        **CLI:**
        ```bash
        agentmail inboxes:messages list --inbox-id <inbox_id>
        ```
      operationId: inboxes_messages_list
      tags:
        - InboxesMessages
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Limit'
            nullable: true
        - name: page_token
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/PageToken'
            nullable: true
        - name: labels
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Labels'
            nullable: true
        - name: before
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Before'
            nullable: true
        - name: after
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/After'
            nullable: true
        - name: ascending
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Ascending'
            nullable: true
        - name: include_spam
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/IncludeSpam'
            nullable: true
        - name: include_blocked
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/IncludeBlocked'
            nullable: true
        - name: include_unauthenticated
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/IncludeUnauthenticated'
            nullable: true
        - name: include_trash
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/IncludeTrash'
            nullable: true
        - name: from
          in: query
          description: >-
            Filter to messages whose sender contains this value (substring
            match). Repeatable; all values must match.
          required: false
          schema:
            type: array
            items:
              type: string
            nullable: true
        - name: to
          in: query
          description: >-
            Filter to messages whose recipients (to, cc, or bcc) contain this
            value (substring match). Repeatable; all values must match.
          required: false
          schema:
            type: array
            items:
              type: string
            nullable: true
        - name: subject
          in: query
          description: >-
            Filter to messages whose subject contains this value (substring
            match). Repeatable; all values must match.
          required: false
          schema:
            type: array
            items:
              type: string
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMessagesResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Messages
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/inboxes/{inbox_id}/messages/search:
    get:
      description: |-
        Full-text search across messages in the inbox, ranked by relevance. The
        query is matched against the sender, recipients, and subject (substring)
        and the message body (tokenized full text). Spam, trash, blocked, and
        unauthenticated messages are always excluded. `limit` cannot exceed 100.
      operationId: inboxes_messages_search
      tags:
        - InboxesMessages
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: q
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Query'
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Limit'
            nullable: true
        - name: page_token
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/PageToken'
            nullable: true
        - name: before
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Before'
            nullable: true
        - name: after
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/After'
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchMessagesResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Search Messages
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/inboxes/{inbox_id}/messages/{message_id}:
    get:
      description: >-
        **CLI:**

        ```bash

        agentmail inboxes:messages get --inbox-id <inbox_id> --message-id
        <message_id>

        ```
      operationId: inboxes_messages_get
      tags:
        - InboxesMessages
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: message_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/MessageId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Message
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
    patch:
      description: >-
        **CLI:**

        ```bash

        agentmail inboxes:messages update --inbox-id <inbox_id> --message-id
        <message_id> --add-label read --remove-label unread

        ```
      operationId: inboxes_messages_update
      tags:
        - InboxesMessages
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: message_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/MessageId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMessageResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Message
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMessageRequest'
    delete:
      description: >-
        Permanently deletes a message.


        **CLI:**

        ```bash

        agentmail inboxes:messages delete --inbox-id <inbox_id> --message-id
        <message_id>

        ```
      operationId: inboxes_messages_delete
      tags:
        - InboxesMessages
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: message_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/MessageId'
      responses:
        '204':
          description: ''
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Message
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/inboxes/{inbox_id}/messages/batch-get:
    post:
      description: >-
        Fetch metadata for up to 500 messages in one request. Missing or

        restricted IDs are silently omitted; compare `count` against `limit`

        to detect misses.


        **CLI:**

        ```bash

        agentmail inboxes:messages batch-get --inbox-id <inbox_id> --message-id
        <id1> --message-id <id2>

        ```
      operationId: inboxes_messages_batchGet
      tags:
        - InboxesMessages
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetMessagesResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
      summary: Batch Get Messages
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchGetMessagesRequest'
  /v0/inboxes/{inbox_id}/messages/{message_id}/attachments/{attachment_id}:
    get:
      description: >-
        **CLI:**

        ```bash

        agentmail inboxes:messages get-attachment --inbox-id <inbox_id>
        --message-id <message_id> --attachment-id <attachment_id>

        ```
      operationId: inboxes_messages_getAttachment
      tags:
        - InboxesMessages
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: message_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/MessageId'
        - name: attachment_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/AttachmentId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Attachment
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/inboxes/{inbox_id}/messages/{message_id}/raw:
    get:
      description: >-
        **CLI:**

        ```bash

        agentmail inboxes:messages get-raw --inbox-id <inbox_id> --message-id
        <message_id>

        ```
      operationId: inboxes_messages_getRaw
      tags:
        - InboxesMessages
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: message_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/MessageId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RawMessageResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Raw Message
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/inboxes/{inbox_id}/messages/send:
    post:
      description: >-
        **CLI:**

        ```bash

        agentmail inboxes:messages send --inbox-id <inbox_id> --to
        recipient@example.com --subject "Hello" --text "Body"

        ```
      operationId: inboxes_messages_send
      tags:
        - InboxesMessages
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Send Message
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
  /v0/inboxes/{inbox_id}/messages/{message_id}/reply:
    post:
      description: >-
        **CLI:**

        ```bash

        agentmail inboxes:messages reply --inbox-id <inbox_id> --message-id
        <message_id> --text "Reply text"

        ```
      operationId: inboxes_messages_reply
      tags:
        - InboxesMessages
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: message_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/MessageId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Reply To Message
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplyToMessageRequest'
  /v0/inboxes/{inbox_id}/messages/{message_id}/reply-all:
    post:
      description: >-
        **CLI:**

        ```bash

        agentmail inboxes:messages reply-all --inbox-id <inbox_id> --message-id
        <message_id> --text "Reply text"

        ```
      operationId: inboxes_messages_reply-all
      tags:
        - InboxesMessages
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: message_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/MessageId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Reply All Message
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplyAllMessageRequest'
  /v0/inboxes/{inbox_id}/messages/{message_id}/forward:
    post:
      description: >-
        **CLI:**

        ```bash

        agentmail inboxes:messages forward --inbox-id <inbox_id> --message-id
        <message_id> --to recipient@example.com

        ```
      operationId: inboxes_messages_forward
      tags:
        - InboxesMessages
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: message_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/MessageId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Forward Message
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
  /v0/inboxes/{inbox_id}/metrics:
    get:
      description: |-
        **CLI:**
        ```bash
        agentmail inboxes:metrics query --inbox-id <inbox_id>
        ```
      operationId: inboxes_metrics_query
      tags:
        - InboxesMetrics
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: event_types
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/MetricEventTypes'
            nullable: true
        - name: start
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Start'
            nullable: true
        - name: end
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/End'
            nullable: true
        - name: period
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Period'
            nullable: true
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/MetricLimit'
            nullable: true
        - name: descending
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Descending'
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryMetricsResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
      summary: Query Metrics
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/inboxes/{inbox_id}/threads:
    get:
      description: |-
        Lists threads in the inbox, most recent first. Pass `senders`,
        `recipients`, or `subject` to filter by substring. Filtered requests are
        served by search, which caps `limit` at 100. For relevance-ranked
        full-text search, use `Search Threads`.

        **CLI:**
        ```bash
        agentmail inboxes:threads list --inbox-id <inbox_id>
        ```
      operationId: inboxes_threads_list
      tags:
        - InboxesThreads
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Limit'
            nullable: true
        - name: page_token
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/PageToken'
            nullable: true
        - name: labels
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Labels'
            nullable: true
        - name: before
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Before'
            nullable: true
        - name: after
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/After'
            nullable: true
        - name: ascending
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Ascending'
            nullable: true
        - name: include_spam
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/IncludeSpam'
            nullable: true
        - name: include_blocked
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/IncludeBlocked'
            nullable: true
        - name: include_unauthenticated
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/IncludeUnauthenticated'
            nullable: true
        - name: include_trash
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/IncludeTrash'
            nullable: true
        - name: senders
          in: query
          description: >-
            Filter to threads whose senders contain this value (substring
            match). Repeatable; all values must match.
          required: false
          schema:
            type: array
            items:
              type: string
            nullable: true
        - name: recipients
          in: query
          description: >-
            Filter to threads whose recipients contain this value (substring
            match). Repeatable; all values must match.
          required: false
          schema:
            type: array
            items:
              type: string
            nullable: true
        - name: subject
          in: query
          description: >-
            Filter to threads whose subject contains this value (substring
            match). Repeatable; all values must match.
          required: false
          schema:
            type: array
            items:
              type: string
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListThreadsResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List Threads
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/inboxes/{inbox_id}/threads/search:
    get:
      description: |-
        Full-text search across threads in the inbox, ranked by relevance. The
        query is matched against senders, recipients, and subject (substring)
        and the message body (tokenized full text). Spam, trash, blocked, and
        unauthenticated threads are always excluded. `limit` cannot exceed 100.
      operationId: inboxes_threads_search
      tags:
        - InboxesThreads
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: q
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Query'
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Limit'
            nullable: true
        - name: page_token
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/PageToken'
            nullable: true
        - name: before
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Before'
            nullable: true
        - name: after
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/After'
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchThreadsResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Search Threads
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/inboxes/{inbox_id}/threads/{thread_id}:
    get:
      description: >-
        **CLI:**

        ```bash

        agentmail inboxes:threads get --inbox-id <inbox_id> --thread-id
        <thread_id>

        ```
      operationId: inboxes_threads_get
      tags:
        - InboxesThreads
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: thread_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ThreadId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thread'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Thread
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
    patch:
      description: >-
        Updates thread labels. Cannot add or remove system labels (sent,
        received, bounced, etc.). Rejects requests with a `422` for threads with
        100 or more messages.
      operationId: inboxes_threads_update
      tags:
        - InboxesThreads
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: thread_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ThreadId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateThreadResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Update Thread
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateThreadRequest'
    delete:
      description: >-
        Moves the thread to trash by adding a trash label to all messages. If
        the thread is already in trash, it will be permanently deleted. Use
        `permanent=true` to force permanent deletion.


        **CLI:**

        ```bash

        agentmail inboxes:threads delete --inbox-id <inbox_id> --thread-id
        <thread_id>

        ```
      operationId: inboxes_threads_delete
      tags:
        - InboxesThreads
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: thread_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ThreadId'
        - name: permanent
          in: query
          description: If true, permanently delete the thread instead of moving to trash.
          required: false
          schema:
            type: boolean
            nullable: true
      responses:
        '204':
          description: ''
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete Thread
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/inboxes/{inbox_id}/threads/{thread_id}/attachments/{attachment_id}:
    get:
      description: >-
        **CLI:**

        ```bash

        agentmail inboxes:threads get-attachment --inbox-id <inbox_id>
        --thread-id <thread_id> --attachment-id <attachment_id>

        ```
      operationId: inboxes_threads_getAttachment
      tags:
        - InboxesThreads
      parameters:
        - name: inbox_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/inboxesInboxId'
        - name: thread_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ThreadId'
        - name: attachment_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/AttachmentId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get Attachment
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/lists/{direction}/{type}:
    get:
      description: |-
        **CLI:**
        ```bash
        agentmail lists list --direction <direction> --type <type>
        ```
      operationId: lists_list
      tags:
        - Lists
      parameters:
        - name: direction
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Direction'
        - name: type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ListType'
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Limit'
            nullable: true
        - name: page_token
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/PageToken'
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListListEntriesResponse'
      summary: List Entries
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
    post:
      description: >-
        **CLI:**

        ```bash

        agentmail lists create --direction <direction> --type <type> --entry
        user@example.com

        ```
      operationId: lists_create
      tags:
        - Lists
      parameters:
        - name: direction
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Direction'
        - name: type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ListType'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEntry'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
      summary: Create List Entry
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateListEntryRequest'
  /v0/lists/{direction}/{type}/{entry}:
    get:
      description: >-
        **CLI:**

        ```bash

        agentmail lists get --direction <direction> --type <type> --entry
        <entry>

        ```
      operationId: lists_get
      tags:
        - Lists
      parameters:
        - name: direction
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Direction'
        - name: type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ListType'
        - name: entry
          in: path
          description: Email address or domain.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEntry'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get List Entry
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
    delete:
      description: >-
        **CLI:**

        ```bash

        agentmail lists delete --direction <direction> --type <type> --entry
        <entry>

        ```
      operationId: lists_delete
      tags:
        - Lists
      parameters:
        - name: direction
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Direction'
        - name: type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ListType'
        - name: entry
          in: path
          description: Email address or domain.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Delete List Entry
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/metrics:
    get:
      description: |-
        **CLI:**
        ```bash
        agentmail metrics list
        ```
      operationId: metrics_query
      tags:
        - Metrics
      parameters:
        - name: event_types
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/MetricEventTypes'
            nullable: true
        - name: start
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Start'
            nullable: true
        - name: end
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/End'
            nullable: true
        - name: period
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Period'
            nullable: true
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/MetricLimit'
            nullable: true
        - name: descending
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Descending'
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryMetricsResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
      summary: Query Metrics
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/organizations:
    get:
      description: >-
        Returns the organization for the authenticated API key (usage limits,
        counts, and billing metadata).


        **CLI:**

        ```bash

        agentmail organizations get

        ```
      operationId: organizations_get
      tags:
        - Organizations
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
      summary: Get Organization
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
  /v0/pods/{pod_id}/api-keys:
    get:
      description: |-
        **CLI:**
        ```bash
        agentmail pods:api-keys list --pod-id <pod_id>
        ```
      operationId: pods_apiKeys_list
      tags:
        - PodsApiKeys
      parameters:
        - name: pod_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/podsPodId'
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Limit'
            nullable: true
        - name: page_token
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/PageToken'
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApiKeysResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: List API Keys
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
        - url: https://mpp.api.agentmail.to
        - url: https://api.agentmail.eu
      security:
        - BearerAuth: []
    post:
      description: |-
        **CLI:**
        ```bash
        agentmail pods:api-keys create --pod-id <pod_id> --name "My Key"
        ```
      operationId: pods_apiKeys_create
      tags:
        - PodsApiKeys
      parameters:
        - name: pod_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/podsPodId'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApiKeyResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Create API Key
      servers:
        - url: https://api.agentmail.to
        - url: https://x402.api.agentmail.to
[...]
